@charset "UTF-8";

input[id="menuicon"] {
	display: none;
}

input[id="menuicon"]+label {
	display: block;
	margin: 30px;
	width: 40px;
	height: 30px;
	position: relative;
	cursor: pointer;
}

input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: darkgray;
	transition: all 0.35s;
}

input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
	bottom: 0;
}

input[id="menuicon"]:checked+label {
	z-index: 2;
}

input[id="menuicon"]:checked+label span {
	background: #fff;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
	width: 600px;
	height: 100%;
	background: orange;
	position: fixed;
	top: 0;
	left: -600px;
	z-index: 1;
	transition: all 0.35s;
}

input[id="menuicon"]:checked+label+div {
	left: 0;
}

.container {
	max-width: 960px;
}

input[id="menuicon"] {
	display: none;
}

input[id="menuicon"]+label {
	display: block;
	margin: 30px;
	width: 40px;
	height: 30px;
	position: relative;
	cursor: pointer;
}

input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: darkgray;
	transition: all 0.35s;
}

input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
	bottom: 0;
}

input[id="menuicon"]:checked+label {
	z-index: 2;
}

input[id="menuicon"]:checked+label span {
	background: #fff;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
	width: 600px;
	height: 100%;
	background: orange;
	position: fixed;
	top: 0;
	left: -600px;
	z-index: 1;
	transition: all 0.35s;
}

input[id="menuicon"]:checked+label+div {
	left: 0;
}

/*희원이 추가부분*/
#content_header h5, #content_header h6 {
	font-weight: bold;
	/*헤더글에 볼드효과*/
}

#content_form span {
	/*각 div에 들어있는 제목 span을 위로 정렬*/
	vertical-align: top;
}

#content_form {
	display: flex;
}

#content_form div {
	align-items: center;
	vertical-align: top;
	font-size: 12px;
}

#content_form input[type='text'], textarea {
	/*텍스트 입력창드들 위치와 색 조정*/
	border: 1px solid #eee;
	border-radius: 3px;
	position: relative;
	left: 10px;
}

#content_form input[type='button'], #content_form input[type='submit'],
	.cafelab label {
	/* 버튼타입에 스타일 주기*/
	border: none;
	border-radius: 4px;
	background-color: #e39339;
	color: white;
	font-size: 5px;
	padding: 4px 20px;
}

#content_form input[type='button']:hover, #content_form input[type='submit']:hover,
	.cafelab label:hover {
	/*버튼타입에 호버효과*/
	background: #f2b482;
}

#hsub {
	/*설명글에 효과*/
	font-size: 1px;
	color: silver;
	position: relative;
	left: 20px;
}

.container { /*아래정렬 br지우면 터짐*/
	display: flex;
	flex-flow: column nowrap;
}

.cafelab /*스판(제목)과 내용을 정렬하는 거*/ {
	display: block;
}

.cafelab span { /*스판(제목)과 내용을 정렬하는 거2*/
	display: inline-block;
	text-align: left;
	width: 80px;
}

.square {
	/*개인정보수집칸 효과*/
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px 60px 20px 60px;
	position: relative;
	width: 400px;
	height: 250px;
	text-align: center;
	background-color: #dde1e5;
}

#bus { /*완료 버튼에 패딩*/
	padding-bottom: 20px;
}

.cafelab input[type="file"] {
	/*input type file일 때 버튼 스타일을 주기 위해 기본으로 잡혀있는 버튼 스타일을 해제해준다 */
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

#content_form i { /*별모양 사이즈,색깔, 위치 조정*/
	font-size: 1px;
	color: #e39339;
	vertical-align: top;
}

.cafeche { /*체크박스 div 오른쪽으로 이동*/
	margin-left: 113px;
}

.cafeche label { /*체크박스 간격조정*/
	margin-right: 40px;
}

.u_agree {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.end { /*완료버튼 위치조정*/
	display: flex;
	align-items: center;
	flex-direction: column;
}