input[id="menuicon"] {
    display: none;
  }
  
  input[id="menuicon"]+label {
    display: block;
    margin: 30px;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: darkgray;
    transition: all 0.35s;
  }
  
  input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
  }
  
  input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
  }
  
  input[id="menuicon"]:checked+label {
    z-index: 2;
  }
  
  input[id="menuicon"]:checked+label span {
    background: #fff;
  }
  
  input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  
  input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
  }
  
  input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  
  div[class="sidebar"] {
    width: 600px;
    height: 100%;
    background: orange;
    position: fixed;
    top: 0;
    left: -600px;
    z-index: 1;
    transition: all 0.35s;
  }
  
  input[id="menuicon"]:checked+label+div {
    left: 0;
  }
  .container {
    max-width: 960px;
    }
    input[id="menuicon"] {
    display: none;
   }
   
   input[id="menuicon"]+label {
    display: block;
    margin: 30px;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
   }
   
   input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: darkgray;
    transition: all 0.35s;
   }
   
   input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
   }
   
   input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
   }
   
   input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
   }
   
   input[id="menuicon"]:checked+label {
    z-index: 2;
   }
   
   input[id="menuicon"]:checked+label span {
    background: #fff;
   }
   
   input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
   }
   
   input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
   }
   
   input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
   }
   
   div[class="sidebar"] {
    width: 600px;
    height: 100%;
    background: orange;
    position: fixed;
    top: 0;
    left: -600px;
    z-index: 1;
    transition: all 0.35s;
   }
   
   input[id="menuicon"]:checked+label+div {
    left: 0;
   }
   
   /*희원이 추가부분*/
   #content_header h5 ,#content_header h6{
    /*헤더글에 볼드효과*/
    font-weight: bold;
   }
   #content_form{
    display: flex;
   }
   #content_form div {
    align-items: center;
    font-size:12px;
   }
   #content_form input[type='text'],textarea,.upload-name,.upload-name1,#upload-name{
    border: 1px solid #eee;
     border-radius:3px;
    position: relative;
    left: 10px;
   }
   #content_form input[type='submit'],.file-find-f ,.file-find-m{
    /* 버튼타입에 스타일 주기*/
    border: none;
    border-radius: 4px;
    background-color: #e39339;
    color: white;
    font-size: 5px;
    padding: 4px 20px; 
   }
  #content_form input[type='submit']:hover,.file-find-f:hover ,.file-find-m:hover{
    /*버튼타입에 호버효과*/
    background: #f2b482;
   }
   .container{
    display: flex;
    flex-flow: column nowrap;
   }
   input[id="end"]{ /*등록완료버튼 위치조정*/
    margin-top: 40px;
    position: relative;
    left: 325px;
   }
   .cafemenu1{/*메뉴등록 블록*/
     display: block;
    /*position: relative;*/
    top: 200px;
   }
   .cafemenu2{/*메뉴판사진등록 블록*/
     display: block;
   }
   .cafemenu span{
    display: inline-block;
    text-align: left;
    width: 80px;
   }
 .cafemenu1 input[type="file"],.cafemenu2 input[type="file"]  {
    /*input type file일 때 버튼 스타일을 주기 위해 기본으로 잡혀있는 버튼 스타일을 해제해준다 */
     position: absolute;
     width: 0;
     height: 0;
     padding: 0;
     overflow: hidden;
     border: 0;
 }
 #content_form .plus{ /* 메뉴추가버튼 가운데정렬*/
     position: relative;
     text-align: center;
 }
 
 #content_form a{ /*a태그 줄 없애고 색추가*/
    color: #e39339;
    text-decoration: none;
 }
 #content_form a:hover{ /*a태그 호버효과*/
    color:gray;
 }
 #content_form input[type='text'],#content_form input[type='image'],span{
    /*cafemenu1에서 이미지때문에 내려가는 메뉴사진 행을 올려준다*/
    vertical-align: top;
 }
 .cafemenu1 input[type="image"]{
     /*이미지 위치를 깔끔하게 보이게 옮긴다*/
    position: relative;
    bottom: 0px;
    left: 100px;
    border: 0;
    top : -35px;
    
 }
 .delete_gg{
    color: ;
 }