
  /*희원이 추가부분*/

  #content_form div {
	align-items: center;
	font-size:12px;
  }
  #content_form input[type='text'],textarea {
	border: 1px solid #eee;
	 border-radius:3px;
	position: relative;
	left: 10px;
  }
  #content_form input[type='button'],.cafemenu1 label,.cafemenu2 label{
	border: none;
	border-radius: 4px;
	background-color: #e39339;
	color: white;
	font-size: 5px;
	padding: 4px 20px; 
  }
  #content_form input[type='button']:hover,.cafemenu1 label:hover,.cafemenu2 label:hover {
	background: #f2b482;
  }
  .container{
	display: flex;
	flex-flow: column nowrap;
  }
  input[id="end"]{ /*등록완료버튼 위치조정*/
	margin-top: 40px;
	position: relative;
	left: 325px;
  }
  .cafemenu1{/*메뉴등록 블록*/
 	display: block;
	position: relative;
	top: 60px;
  }
  .cafemenu2{/*메뉴판사진등록 블록*/
 	display: block;
  }
  .cafemenu span{
	display: inline-block;
	text-align: left;
	width: 80px;
  }
.cafemenu1 input[type="file"],.cafemenu2 input[type="file"]  {
	/*input type file일 때 버튼 스타일을 주기 위해 기본으로 잡혀있는 버튼 스타일을 해제해준다 */
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.plus{ /* 메뉴추가버튼 가운데정렬*/
	text-align: center;
}
#content_form a{ /*a태그 줄 없애고 색추가*/
	color: #e39339;
	text-decoration: none;
}
#content_form a:hover{ /*a태그 호버효과*/
	color:gray;
}
#content_form input[type='text'],#content_form input[type='image'],span{
	/*cafemenu1에서 이미지때문에 내려가는 메뉴사진행을 올려준다*/
	vertical-align: top;
}
.cafemenu1 input[type="image"]{
	position: relative;
	bottom: 80px;
	left: 100px;

}
