@charset "UTF-8";
.free_boarder_boarder{
	margin: 0 25rem;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.free_boarder_list tr{
		height: 10px
	}
.free_boarder_main_title{
	    width: 160px;
    height: 50px;
}
.table_no, p{
	margin: 0;
}
.table_title{
}
.free_boarder_table{
		width: 1000px
	
}
.free_boarder_list {
    font-size: 30px;
    font-style: bold;
    text-align: center;
}
.free_boarder_write{
	display: flex;
	justify-content: flex-end;
	width: 1000px;

}
.free_boarder-write2{
	background: orange;
}